{% extends "base.html" %}

{% block title %}{{ form_name }} Application{% endblock %}

{% block content %}
<h1>Apply for {{ form_name }}</h1>

<p>
{{ form_description }}
</p>

<div class="formsmall">
<p>Fields marked with * are required.
Note that we use cookies to keep this form secure.
By accessing or using this form you agree to our
use of cookies.
</p>

<p>
Please limit your responses to {{ response_limit }}
characters.
</p>

</div>

<form action="" method="post">
    {{ form.hidden_tag() }}
    {% for field in form %}

    {% if field.flags.dynamic %}
    <p>
    <h3>{{ field.label }}
        {% if field.flags.required %}*{% endif %}</h3>
    {% if field.description %}
    {{ field.description }}<br>
    {% endif %}
    {% for error in field.errors %}
    <span class="formerror">{{ error }}</span><br>
    {% endfor %}

    {% if 'RadioField' in field.__class__.__name__ %}
    <!-- Treat option fields differently -->
    {% for subfield in field %}
    {{ subfield }} {{ subfield.value }} {{ subfield.label }}<br>
    {% endfor %}
    {% else %}
    {{ field(size=32) }}
    {% endif %}
    </p>
    {% endif %}

    {% if field.flags.mask %}
    {{ field() }} {{ field.label }}<br>
    {% endif %}

    {% if field.flags.other %}
    {{ field.label }}<br>{{ field() }}<br>
    {% endif %}

    {% if 'SectionField' in field.__class__.__name__ %}
    <h2>{{ field.label.text }}</h2>
    {% if field.description %}
    <p>
    {{ field.description }}
    </p>
    {% endif %}
    {% endif %}

    {% endfor %}
    <p>
    {{ form.recaptcha() }}
    {% for error in form.recaptcha.errors %}
    <span class="formerror">{{ error }}
    (maybe you didn't click the captcha?)</span><br>
    {% endfor %}
    <br>
    {{ form.agree() }} {{ form.agree.label }}<br>
    {% for error in form.agree.errors %}
    <span class="formerror">{{ error }}</span><br>
    {% endfor %}
    </p>

    <p>Please allow up to a week to hear back from us
    in Discord. If you don't hear back in this time,
    consider your application denied.</p>

    <p>Note that once you submit your application, you
    won't be able to change it. Make sure the data in the
    above fields is correct.</p>

    <p><i>And remember, stay frosty!</i></p>

    <p>{{ form.submit() }}</p>
</form>
{% endblock %}
