<!DOCTYPE html>
<html>

    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <title>{% block title %} {% endblock %} - FrostCraft</title>
        {% block head %} {% endblock %}
    </head>

    <body>

        <div class=top>
            <span class=top>
                <img src="{{ url_for('static', filename='logo.png') }}", width=80 height=80></img>
                <span class=toptext>
                    <span class=toptitle>FrostCraft</span>
                    <a class=toplink href="/">Home</a>
                    <a class=toplink href="{{ url_for('members') }}">Members</a>
                    <a class=toplink href="{{ url_for('docs') }}">Reference</a>
                    {% if g.applications_enabled %}
                    <a class=toplink href="{{ url_for('applylist') }}">Apply</a>
                    {% endif %}
                </span>
            </span>
        </div>

        <div class="box">

            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="flashbox">
            <div class="flash">
                {% for message in messages %}
                {{ message }}<br>
                {% endfor %}
            </div>
            </div>
            {% endif %}
            {% endwith %}

            {% block content %} {% endblock %}
        </div>

        <div class="footer">
            FrostCraft's website is open source!
            <a href="https://github.com/lekro/frostcraft-web">
                View the source here</a>.
        </div>
    </body>
</html>
