{% extends "base.html" %}

{% block title %}

Vote for
{% if metadata.name is not none %}{{ metadata.name }}'s{% endif %}
{{ metadata.type }} application
{% if admin %}[admin view]{% endif %}

{% endblock %}

{% block content %}

<h1>{{ self.title() }}</h1>

{% if metadata.active %}
<p>This application is <b>active</b>. Vote below!</p>
{% else %}
<p>This application is <b>inactive</b>. Voting is closed.</p>
{% endif %}

{% if admin %}
<form action="" method="post">
    {{ adminform.hidden_tag() }}
    {{ adminform.submit() }}
</form>
{% endif %}

<!-- Show voting results -->
{% if (metadata.active and addr in metadata.responses) or admin %}
<h2>Results</h2>

<p><b>YES</b>: {{ results.yes }} / {{ results.total }}
({{ results.percent_yes }}%)
{% if addr in metadata.responses and metadata.responses[addr] %}
&larr; your vote
{% endif %}
</p>
<p><b>NO</b>: {{ results.no }} / {{ results.total }}
({{ results.percent_no }}%)
{% if addr in metadata.responses and not metadata.responses[addr] %}
&larr; your vote
{% endif %}
</p>
{% elif not metadata.active %}
<h2>Results</h2>
<p>Results are hidden because voting is closed.</p>
{% endif %}

<h1>Submission</h1>

{% for field in submission %}
{% if field.name %}
<h3>{{ field.name }}</h3>
<p>
{{ field.description }}
{% if field.mask %}
[this field has been hidden from non-operators]
{% endif %}
</p>
{% if not field.mask or admin %}
<pre>
{{ field.value }}
</pre>
{% endif %}
{% else %}
<h2>{{ field }}</h2>
{% endif %}
{% endfor %}

<!-- Voting form -->
<h1>Vote</h1>
{% if metadata.active %}
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>{{ form.response() }} {{ form.response.label }}</p>
    <p>{{ form.submit() }}</p>
</form>
{% else %}
<p>You can't vote because voting is closed.</p>
{% endif %}

{% endblock %}
